################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Pink_Panthers_Project/FileContentIndex/068d0220-2949-41ba-9edf-43a699fb7e8a.vsidx
/.vs/Pink_Panthers_Project/FileContentIndex/35fc313d-b45b-4acd-87e4-06804b747757.vsidx
/.vs/Pink_Panthers_Project/FileContentIndex/51c8d576-d869-4ea1-accf-4660b7c1cd60.vsidx
/.vs/Pink_Panthers_Project/FileContentIndex/83a4d4af-b5db-4ef7-9c65-2082cf98e4d2.vsidx
/.vs/Pink_Panthers_Project/FileContentIndex/b4ad2170-b263-4f89-8271-108eb5878f6f.vsidx
/.vs/Pink_Panthers_Project/FileContentIndex/29a4ae5c-2ac6-4305-b703-0c3837047540.vsidx
*.vsidx
/.vs/Pink_Panthers_Project/FileContentIndex/ea034dae-bd01-4f00-bd86-f37056b78a34.vsidx
/.vs/Pink_Panthers_Project/FileContentIndex/ec6c38f9-2336-4b0d-a0c1-27e83fe71954.vsidx
/.vs/Pink_Panthers_Project/FileContentIndex/ee2ebe3f-7c5c-404d-9a05-262b86ec56ef.vsidx
/.vs/Pink_Panthers_Project/v17/.suo
/Pink_Panthers_Test/bin/Debug/net6.0/Pink_Panthers_Test.deps.json
/Pink_Panthers_Test/bin/Debug/net6.0/Pink_Panthers_Test.dll
/Pink_Panthers_Test/bin/Debug/net6.0/Pink_Panthers_Test.pdb
/Pink_Panthers_Test/obj/Debug/net6.0/Pink_Panthers_Test.csproj.AssemblyReference.cache
/Pink_Panthers_Test/obj/Debug/net6.0/Pink_Panthers_Test.csproj.CoreCompileInputs.cache
/Pink_Panthers_Test/obj/Debug/net6.0/Pink_Panthers_Test.csproj.FileListAbsolute.txt
/Pink_Panthers_Test/obj/Debug/net6.0/Pink_Panthers_Test.dll
/Pink_Panthers_Test/obj/Debug/net6.0/Pink_Panthers_Test.genruntimeconfig.cache
/Pink_Panthers_Test/obj/Debug/net6.0/Pink_Panthers_Test.pdb
/.vs/Pink_Panthers_Project/v17/TestStore/0/010.testlog


/.vs
.vs
obj
/obj
Pink_Panthers_Test/obj
Pink_Panthers_Test/bin
/Pink_Panthers_Test/obj
/Pink_Panthers_Test/bin
/.vs/slnx.sqlite
/.vs/Pink_Panthers_Project/v17/.wsuo

*.wsuo
*.user
*.suo
/Pink_Panthers_Test/bin/Debug/net6.0/CoverletSourceRootsMapping
/Pink_Panthers_Test/obj/Debug/net6.0/Pink_Panthers_Test.assets.cache
/Pink_Panthers_Test/obj/Debug/net6.0/Pink_Panthers_Test.GeneratedMSBuildEditorConfig.editorconfig
/Pink_Panthers_Test/obj/Pink_Panthers_Test.csproj.nuget.dgspec.json
/Pink_Panthers_Test/obj/Pink_Panthers_Test.csproj.nuget.g.props
/Pink_Panthers_Test/obj/project.assets.json
/Pink_Panthers_Test/obj/project.nuget.cache
/.vs/Pink_Panthers_Project/DesignTimeBuild/.dtbcache.v2
/.vs/Pink_Panthers_Project/v17/.futdcache.v2
/.vs/ProjectEvaluation/pink_panthers_project.metadata.v7.bin
/.vs/ProjectEvaluation/pink_panthers_project.projects.v7.bin


TestResults
/TestResults
./TestResults
../TestResults
~/TestResults

/SeleniumTests/bin
./SeleniumTests/bin

/.vs/Pink_Panthers_Project/v17/TestStore/0/testlog.manifest
