@model Pink_Panthers_Project.Models.Account

@{
    Layout = "MinimalNav";
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>


<h3 style="display: flex; justify-content: center; align-items: center;"> Login </h3>
<hr />
<div class="row" style="display: flex; justify-content: center; align-items: center;">
    <div class="col-md-4">
        <form asp-controller="Accounts" asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (ViewData.ModelState.ContainsKey("InvalidEmail"))
            {
                <em>Invalid Email. @Html.ActionLink("Create Account?", "Create", "Accounts")</em>
                <br />
                <br />
            }
            @if (ViewData.ModelState.ContainsKey("IncorrectPass"))
            {
                <em>Incorrect Password.</em>
                <br />
                <br />
            }
            @if (ViewData.ModelState.ContainsKey("MissingInfo"))
            {
                <em>Enter Email and Password First.</em>
                <br />
                <br />
            }
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" id="usernameText"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" id="passwordText"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" value="Create Account" class="btn btn-primary btn-signup" onclick="location.href='@Url.Action("Create", "Accounts")'" itemscope id="createAccountBtn" />
                <input type="submit" value="Login" class="btn btn-primary btn-login" itemscope id="loginBtn"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}